// done by riverco.de
@import helpers/all
@import generated/sprite-svg
@import common
@import layouts
@import main


.container
	width: 1060px 
	margin: 0 auto

.header
	display: flex
	justify-content: space-between 
	width: 90%
	margin: 0 auto
	flex-direction: row
.logo
	width: 20%
	img
		display: inline-block
		
.nav
	position: relative
	margin-right: 10px
	li
		display: inline-block
		
		
		
		
	a
		color: #515151 
		display: inline-block
		position: relative
		margin-right: 30px
		font-weight: bold
		text-decoration: none
		font-size: 18px
		font-family: sans-serif 
.list-down
	color: red 
	position: relative
	margin-right: 40px
	width: auto 
	
	.icon
		position: absolute
		margin-left: 2px
		bottom: 50%
		transform: translate(0, 50%)
.list-down:hover
	.nav-down
		opacity: 1; 
		visibility: visible;

.nav-down
	opacity: 0; 
	visibility: hidden;
	transition: all .63s ease-out .15s; 
	// Добавляем анимацию 0.3 сек. и задержку в 0.15 сек.
	position: absolute
	width: 150px
	font-size: 24px
	line-height: 1.8

button
	font-size: 24px
	color: #FFF 
	background: green
	padding: 10px  

.photo
	.container
		margin-bottom: 150px
	img
		width: 100%


.section
	&__title
		font-size: 62px
		position: relative
		font-weight: bold 
		margin-bottom: 80px
		text-align: center
		&:after
			content: "" 
			width: 15%
			left: 50%
			transform: translate(-50%,0)
			height: 7px
			background: #000
			position: absolute
			bottom: -90px 			
	&__text
		font-size: 18px
		margin-top: 150px
		margin-bottom: 50px
			
		 
	 
		


	 