---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<!-- begin header -->
	<div class="header">
		<div class="logo">
			<img src="img/logo.png" alt="">
		</div>
		<div class="navigation">
			<ul class="nav">
				<li class="p15">
					<a href="#">Program
						<div class="t1">
							<div class="in"></div>
						</div>
						<div class="t2">
							<div class="in"></div>
						</div>
					</a>
				</li>
				<li class="p15">
					<a href="#">For foretag
						<div class="t1">
							<div class="in"></div>
						</div>
						<div class="t2">
							<div class="in"></div>
						</div>
					</a>
				</li>
				<li class="list-down p15">
					<a href="#">Om Academy {{mixins.icon('arrow')}}
						<div class="t1">
							<div class="in"></div>
						</div>
						<div class="t2">
							<div class="in"></div>
						</div>
					</a>
					<ul class="nav-down">
						<li><a href="#">Lorem ipsum.</a></li>
						<li><a href="#">Lorem ipsum.</a></li>
						<li><a href="#">Lorem ipsum.</a></li>
						<li><a href="#">Lorem ipsum.</a></li>
					</ul>
				</li>
				
			</ul>
		</div>
		<button>Bli IT-konsult</button>
	</div>
	<!-- end header -->

	<!-- begin photo -->
	<div class="photo">
		<div class="container">
			<img src="img/image.jpg" alt="">
		</div>
	</div>
	<!-- end photo -->
	<!-- begin section -->
	<div class="section">
		<div class="container">
			<h1 class="section__title">Vara konsulter</h1>
			<p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam assumenda adipisci commodi cum nobis, architecto amet nostrum obcaecati eius! Iste ea dolore tempora illum, voluptatum dolor deleniti consequuntur itaque veniam doloribus quos dolores, obcaecati eaque laboriosam voluptatibus ex voluptas fugiat magni mollitia tenetur placeat expedita. Reprehenderit aut, delectus quidem rem.</p>
		</div>
	</div>
	<!-- end section -->


{% endblock %}
